footer
  p
    small You are receiving this email because you signed up for the HN Mail mailing list.
  p
    small If you have any questions or suggestions, just reply to this email! 👋
  p
    small
      a(href="https://hnmail.io") HN Mail
      span= ' | '
      a(href="https://hnmail.io/#subscribe") Update Topics
      span= ' | '
      a(href=unsubLink) Unsubscribe
      