footer
  p
    small
      a(href="https://hnmail.io") HN Mail
      span= ' | '
      a(href="https://hnmail.io/#subscribe") Update Topics
      span= ' | '
      a(href=unsubLink) Unsubscribe
      
