<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>HN Mail</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,900" rel="stylesheet">

<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
/>

<style>
  body {
    font-family: 'Roboto', sans-serif;
  }

  .title {
    font-weight: 900;
  }

  .subtitle {
    font-family: 'Roboto Mono', monospace;
  }

  #capture .container {
    width: 500px;
  }

  .yellow-gradient {
    background: linear-gradient(#ffa600, #f5ca0a);
  }
</style>