doctype html
html(lang="en")
  head
    //- Global site tag (gtag.js) - Google Analytics
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-121309699-1", async="true")
    script(src="js/ga.js")

    include ../partials/head.pug
    block dynamicCss
  
  body
    header
      nav
        ul
          li
            a(href='/') HN Mail
          li
            a(href='https://github.com/kingdido999/hnmail') Contribute
    
    block content