extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main
    section#verify-complete

    section
      .container
        h2 Updated Successfully!
        p You have successfully updated your topics to: 
        p.text-primary
          strong= topics
