extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="/css/main.css")

block content
  main
    section#verify-email

    section
      .container
        h2 Email Verification
        p You have requested to update your topics to:
        p.text-primary
          strong= topics
        p Please click the link included in the confirmation email we just sent to you.
