extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="/css/main.css")

block content
  main
    section#verify-email

    section
      .container
        h2 Email Verification
        p You have requested to update your topics to:
        p.text-primary
          strong= topics
        p We've sent you a verification email. Please click the link included in the email and you're all set.
