extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="/css/main.css")

block content
  main
    section#verify-email

    section
      .container
        h2 Verify Your Email Address
        p We've sent you a verification email. Please click the link included in the email and you're all set.
        p
          | Feel free to contact
          a(href="mailto:info@hnmail.io") info@hnmail.io
          | if you have any issues.
