extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="/css/main.css")

block content
  main
    section#verify-email

    section
      .container
        h2 Verify Your Email Address
        p Please click the link included in the verification email we just sent to you.
