@import "variables"
@import "reset"
@import "utils"
@import "components/nav"

main 
  max-width: 600px
  margin: 0 auto
  padding: 1rem

.topic 
  color: primary-color
  font-size: 1.2rem
  font-weight: bold
  line-height: 2.4rem

.article 
  margin-bottom: 1rem

.title a 
  color: text-color
  line-height: 1.5rem
  text-decoration: none
  border-bottom: 2px solid hsl(0,0%,90%)
  &:hover
    color: primary-color
    border-bottom: 2px solid primary-color

.info 
  color: text-light-color

.info a 
  color: text-light-color
  text-decoration: none

.signature 
  margin: 2rem 0

footer 
  border-top: 2px solid hsl(0,0%,90%)
  color: text-light-color

footer a 
  color: text-light-color
