@import "variables"
@import "reset"
@import "utils"
@import "components/nav"

body
  color: text-color

a
  text-decoration: none
  color: text-color
  border-bottom: 2px solid hsl(0,0%,90%)
  &:hover
    color: primary-color
    border-bottom: 2px solid primary-color

h1 
  font-size: 2.4rem

section 
  display: flex
  flex-direction: column
  text-align: center
  padding: 1rem

main#home 
  background-image: url('/svg/news.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top

section#verify-email
  background-image: url('/svg/mail.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top 
  height: 300px

section#verify-complete
  background-image: url('/svg/beer.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top 
  height: 300px

section#unsubscribed
  background-image: url('/svg/chilling.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top 
  height: 300px

section#intro h1
  margin-top: 60%
  @media (max-width: 100em)
    margin-top: 35%

section#topics
  ul
    list-style-type: none
    padding: 0
    li
      display: inline-block
      padding: 0.5rem
      small
        color: primary-color

section#faq
  h3, p
    text-align: left

.subtitle 
  font-size: 1.2rem

.container 
  margin: 0 auto
  width: 600px
  max-width: 100%

form 
  display: flex
  flex-direction: column
  margin: 1rem auto
  max-width: 300px;

.input-field 
  margin: 1rem 0
  display: flex
  flex-direction: column

.input-field label 
  margin: 0.4rem
  font-size: 1.2rem

.input-field input 
  margin: 0.4rem

input, textarea, button 
  font-size: 1rem
  outline: none
  border: 1px solid transparent
  border-radius: 4px
  text-align: center

input, textarea
  background: #eeeeee;
  padding: 1rem

button 
  cursor: pointer
  font-weight: 600
  letter-spacing: 1px
  min-width: 200px
  padding: 1rem
  margin: 1rem
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)

:focus 
  outline: 0

[required] 
  box-shadow: none

.btn-default 
  background: accent-color
  color: white

.btn-primary 
  background: primary-color
  color: white

.error-message 
  font-size: 1.2rem
  border-left: 4px solid primary-color
  max-width: 400px;
  margin: 0 auto;

hr
  border-width: 0
  border-top-width: 0px
  border-top: 1px solid #E1E1E1

footer
  text-align: center
  margin: 3rem