footer
  p
    small
      | Feel free to reply to this email if you have any questions or suggestions.
  p
    small
      a(href="https://hnmail.io") HN Mail
      span= ' | '
      a(href="https://hnmail.io/#subscribe") Update Topics
      span= ' | '
      a(href=unsubLink) Unsubscribe
      span= ' | '
      a(href="https://www.buymeacoffee.com/JrWE5Ym6h") Buy me a coffee
