extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main#home
    section#intro
      .container
        h1
          span Hacker News
          br
          span Tailored For You

        p.subtitle 
          | Too busy to keep up with stories you care about from 
          a(href="https://news.ycombinator.com/", target="_blank") Hacker News
          | ? 
        p.subtitle Specify topics you want and let stories come to you.

        form(action="/sample", method="get")
          div
            button.btn-default(type="submit") View Sample Newsletter

    section#subscribe
      .container
        h2 Join HN Mail
        if error.message
          .error-message= error.message
        form(action="/subscribe", method="post")
          .input-field
            label I'm interested in topics like...
            input(name="topics", placeholder="AI, blockchain, programming", required="true")
          .input-field
            label Send weekly newsletter to
            input(type="email" name="email" placeholder="fan@hnmail.io", required="true")
          div
            button.btn-primary(type="submit") Subscribe