extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main#home
    section#intro
      .container
        h1
          span Hacker News
          br
          span Tailored For You

        p.subtitle 
          | Too busy to keep up with stories you care about from 
          a(href="https://news.ycombinator.com/", target="_blank") Hacker News
          | ? 
        p.subtitle Specify topics you want and let stories come to you.

        form(action="/sample", method="get")
          div
            button.btn-default(type="submit") Sample Newsletter

    section#topics
      .container
        h2 🔥 Hot Topics
        ul
          each topic in topics
            li
              - var link = `https://hn.algolia.com/?sort=byPopularity&prefix&page=0&dateRange=pastWeek&type=all&query=${topic.name}`
              a(href=link, target="_blank")= topic.name.toUpperCase()
              small= ` x${topic.subscriber_ids.length}`

    section#subscribe
      .container
        h2 🙋 Join HN Mail
        if error && error.message
          .error-message= error.message
        form(action="/subscribe", method="post")
          .input-field
            label Topics I'm interested in
            textarea(name="topics", rows="3" placeholder="AI, Blockchain, Show HN", required="true")
            p.text-light At most 5 topics. Can be updated later.
          .input-field
            label Send weekly newsletter to
            input(type="email" name="email" placeholder="fan@hnmail.io", required="true")
          div
            button.btn-primary(type="submit") Subscribe