<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#">HN Mail</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>

    <h1>Hacker News Tailored For You</h1>
    <h2>
      Identify a few topics interest you the most and start receiving a curated list of articles every week.
    </h2>

    <form action="/subscribe" method="post">
      <input type="text" name="topics" placeholder="Topics" />
      <input type="email" name="email" placeholder="Email" />
      <input type="submit" value="Subscribe">
    </form>
  </header>
</body>

</html>