<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <section class="hero is-large yellow-gradient">

    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item has-text-white is-size-4" href="/">
              HN Mail
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white is-spaced is-1">
          <p>Hacker News</p>
          <p>Tailored For You</p>
        </h1>
        <h2 class="subtitle has-text-white">
          <p>Identify a few topics interest you the most and</p>
          <p>start receiving a curated list of articles every week.</p>
        </h2>
      </div>
    </div>
  </section>

  <section class="section" id="capture">
    <div class="container">
      <h2 class="title is-3 has-text-centered">Join HN Mail</h2>
      <form action="/subscribe" method="POST">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Topics</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <textarea class="textarea" name="topics" placeholder="blockchain, machine learning, javascript"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="email" placeholder="fan@hnmail.io">
                <span class="icon is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-warning">
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>

</html>