<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#">HN Mail</a>
        </li>
      </ul>
    </nav>

    <h1>
      <span>Hacker News</span>
      <br/>
      <span>Tailored For You</span>
    </h1>

    <form action="/subscribe" method="post">
      <label>I'm interested in</label>
      <textarea name="topics" rows="3" placeholder="E.g., AI, blockchain, startup, javascript"></textarea>
      <label>And deliver to</label>
      <input type="email" name="email" placeholder="fan@hnmail.io" />
      <button type="submit">Subscribe</button>
    </form>
  </header>
</body>

</html>