<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#">HN Mail</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>

    <h1>Hacker News Tailored For You</h1>

    <form action="/subscribe" method="post">
      <label>I'm interested in...</label>
      <textarea name="topics" rows="4" placeholder="E.g., artificial intelligence, blockchain, javascript"></textarea>
      <label>And deliver them to</label>
      <input type="email" name="email" placeholder="fan@hnmail.io" />
      <input type="submit" value="Subscribe">
    </form>
  </header>
</body>

</html>