extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/email.css")

block content
  main
    include ../partials/newsletter-content.pug
    include ../partials/email-signature.pug