extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main
    section#unsubscribed

    section
      .container
        h2 Unsubscribed
        p You have successfully unsubscribed from HN Mail. Thanks for trying it out!
