extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main
    section#verify-email

    section
      .container
        h1 Email Verification
        p.subtitle You have requested to update topics to: 
        p.subtitle.text-primary
          strong= topics
        p.subtitle We've sent a verification email to #[a= email].
        p.subtitle Please click the link included in the email and you're all set.
        p.subtitle 
          | Feel free to contact 
          a(href="mailto:info@hnmail.io") info@hnmail.io 
          | if you have any issues.