extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main
    section#verify-complete

    section
      .container
        h1 Updated Successfully!
        p.subtitle You have successfully updated topics to: 
        p.subtitle.text-primary
          strong= topics
        p.subtitle
          | Rember that you can update your topics on 
          a(href="/") home page
          | .
        p.subtitle 
          | Feel free to contact 
          a(href="mailto:info@hnmail.io") info@hnmail.io 
          | if you have any issues.