doctype html
html(lang="en")
  include ../partials/head.pug
  body
    include ../partials/header.pug

    main
      section#welcome

      section
        .container
          h1 Welcome to HN Mail! 🎉
          p.subtitle 
            | You'll start receiving customized newsletter on a weekly basis.
            | Feel free to contact 
            a(href="mailto:webmaster@example.com") info@hnmail.io 
            | if you have any questions or suggestions.
          p.subtitle
            | Tips: you can always update your topics on 
            a(href="/") home page
            | .