extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  main
    section#verify-complete

    section
      .container
        h2 Welcome to HN Mail! 🎉
        p You'll start receiving newsletters with the following topics: 
        p.text-primary
          strong= topics
