@import "variables"
@import "reset"
@import "utils"
@import "components/nav"

body
  color: text-color
  line-height: 1.5

a
  text-decoration: none
  color: text-color
  border-bottom: 2px solid hsl(0,0%,90%)
  &:hover
    color: primary-color
    border-bottom: 2px solid primary-color

h1
  font-size: 2.4rem

section
  display: flex
  flex-direction: column
  padding: 1rem

details
  margin: 1rem 0

summary
  font-weight: bold

main#home
  position: relative

main#home:after
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  content: ""
  z-index: -1
  opacity: 0.7
  background-image: url('/svg/news.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top

section#verify-email
  background-image: url('/svg/mail.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top
  height: 300px

section#verify-complete
  background-image: url('/svg/beer.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top
  height: 300px

section#unsubscribed
  background-image: url('/svg/chilling.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position: top
  height: 300px

section#intro h1
  margin-top: 60%
  @media (max-width: 100em)
    margin-top: 35%

section#topics
  ul
    list-style-type: none
    padding: 0
    li
      display: inline-block
      padding: 0.5rem
      small
        color: primary-color

section#faq
  h3, p
    text-align: left

.subtitle
  font-size: 1.3rem

.container
  margin: 0 auto
  width: 640px
  max-width: 100%

form
  display: flex
  flex-direction: column
  margin: 1rem auto
  max-width: 300px;

.input-field
  margin: 1rem 0
  display: flex
  flex-direction: column

.input-field label
  margin: 0.4rem
  font-size: 1.2rem

.input-field input
  margin: 1rem

.input-field textarea
  margin: 1rem

input, textarea, button
  font-size: 1rem
  outline: none
  border: 1px solid transparent
  border-radius: 4px
  text-align: center
  -webkit-appearance: none
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
  -moz-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
  -ms-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
  -o-box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)

input, textarea
  background: #eeeeee
  padding: 1rem
  &:focus
    outline: 2px solid accent-color

textarea
  font-family: inherit

button
  cursor: pointer
  font-weight: 600
  letter-spacing: 1px
  min-width: 140px
  padding: 1rem
  margin: 1rem auto

:focus
  outline: 0

.btn-default
  background: accent-color
  color: white

.btn-primary
  background: primary-color
  color: white

.error-message
  background: primary-color
  max-width: 300px
  margin: 0 auto
  padding: 0.4rem
  color: white
  border-radius: 4px

hr
  border-width: 0
  border-top-width: 0px
  border-top: 1px solid #E1E1E1

footer
  text-align: center
  margin: 1rem
