@import "../variables"

nav ul 
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  list-style: none

nav a 
  padding: 2rem
  font-size: 1.4rem
  max-width: 140px
  font-weight: bold
  display: flex
  align-items: flex-start
  color: text-color
  text-decoration: none
